<div class="d-flex flex-column align-items-start">
  {{!-- back --}}

  <form action="/" method="GET">
    <button type="submit" class="btn btn-light mx-5">回首頁</button>
  </form>

  {{!-- 新增餐廳 --}}
  <form action="/restaurants" method="POST">
    <div class="d-flex flex-column align-items-start m-5">
      <div class="col-6 d-flex flex-column m-3">
        <div class="form-row">
          <div class="col-6 m-3">
            <input type="text" class="form-control" placeholder="name" name="name">
          </div>
          <div class="col-6 m-3">
            <input type="text" class="form-control" placeholder="english name" name="name_en">
          </div>
          <div class="col-6 m-3">
            <input type="text" class="form-control" placeholder="category" name="category">
          </div>
          <div class="col-6 m-3">
            <input type="text" class="form-control" placeholder="image link" name="image">
          </div>
          <div class="col-6 m-3">
            <input type="text" class="form-control" placeholder="location" name="location">
          </div>
          <div class="col-6 m-3">
            <input type="text" class="form-control" placeholder="phone number" name="phone">
          </div>
          <div class="col-6 m-3">
            <input type="text" class="form-control" placeholder="google map link" name="google_map">
          </div>
          <div class="col-6 m-3">
            <input type="text" class="form-control" placeholder="rating" name="rating">
          </div>
          <div class="col-6 m-3">
            <textarea name="description" id="description" placeholder="description" cols="40" rows="5"></textarea>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-info mx-5">新增餐廳</button>
    </div>
  </form>
</div>