<header>
  <!-- navigation -->
  <nav class="navbar navbar-light bg-light">
    <div class="container d-flex justify-content-between">
      <form action="/" method="GET">
        <a class="navbar-brand" href="/">
          <img src="https://i.postimg.cc/JG2gFgJg/logo.png" width="30" height="30" class="d-inline-block align-top"
            alt="我的餐廳清單">
          我的餐廳清單
        </a>
      </form>

      {{!-- 回首頁 --}}
      <form action="/" method="GET">
        <button type="submit" class="btn btn-info ">BACK</button>
      </form>
    </div>

  </nav>
  <div class="banner"></div>
</header>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto mb-3 d-flex justify-content-end">
      {{!-- 新增餐廳 --}}
      <form action="/restaurants/add" method="POST" class="needs-validation" novalidate>
        <div class="form-row">
          <div class="col-md-5 mb-3 mr-3">
            <label for="name">餐廳名*</label>
            <input type="text" class="form-control" id="name" placeholder="name" required>
            <div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
              Please provide a name.
            </div>
          </div>

          <div class="col-md-5 mb-3">
            <label for="name_en">餐廳英文名</label>
            <input type="text" class="form-control" id="name_en" placeholder="name in English">
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>

          <div class="col-md-5 mb-3 mr-3">
            <label for="category">餐廳種類</label>
            <input type="text" class="form-control" id="category" placeholder="category">
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>

          <div class="col-md-5 mb-3">
            <label for="image">圖片連結</label>
            <input type="text" class="form-control" id="image" placeholder="image">
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-5 mb-3 mr-3">
            <label for="location">地點</label>
            <input type="text" class="form-control" id="location" placeholder="location">
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-5 mb-3">
            <label for="phone">電話</label>
            <input type="text" class="form-control" id="phone" placeholder="phone">
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-5 mb-3 mr-3">
            <label for="google-map">google map</label>
            <input type="text" class="form-control" id="google-map" placeholder="google-map">
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-5 mb-3">
            <label for="rating">評分</label>
            <input type="text" class="form-control" id="rating" placeholder="rating">
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-10 mb-3">
            <label for="description">簡介</label>
            <textarea name="description" id="description" class="form-control" placeholder="description" cols="90"
              rows="5"></textarea>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
        </div>

        <button type="submit" class="btn btn-info my-3">新增餐廳</button>
      </form>
    </div>
    <script>
      (function () {
        'use strict';
        window.addEventListener('load', function () {
          var forms = document.getElementsByClassName('needs-validation');
          var validation = Array.prototype.filter.call(forms, function (form) {
            form.addEventListener('submit', function (event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
    </script>